---
import Navbar from "./navbar/Navbar.astro";
import { Font } from "astro:assets";
import "../styles/styles.css";

const baseUrl = import.meta.env.BASE_URL || "";

type Props = { title?: string };
const { title } = Astro.props;
const siteTitle = title ? `${title} — Playground` : "Playground";
---

<html lang="en" data-theme="dark">
  <head>
    <Font cssVariable="--font-jetbrains-mono" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href={`${baseUrl}favicon.svg`} />
    <link rel="sitemap" href={`${baseUrl}/sitemap-index.xml`} />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
  </head>
  <body
    class="bg-background text-foreground grid min-h-dvh grid-cols-1 grid-rows-[auto_1fr] antialiased"
  >
    <Navbar />
    <main class="flex flex-col overflow-hidden">
      <slot />
    </main>
  </body>
</html>
