---
import { render, getCollection } from "astro:content";
import BaseLayout from "../../layouts/base-layout.astro";
import Footer from "../../layouts/footer.astro";
import Hero from "../../components/ui/features/hero.astro";

export async function getStaticPaths() {
  const notes = await getCollection("notebook");
  return notes.map((note) => ({
    params: { slug: note.id },
    props: { note },
  }));
}

const { note } = Astro.props;
const { Content } = await render(note);

const date = new Date(note.data.date);
const options = {
  weekday: "long",
  year: "numeric",
  month: "long",
  day: "numeric",
} as const;

const formatedDate = date.toLocaleDateString("fr-FR", options);
---

<BaseLayout title={note.data.title} katex={true}>
  <Hero
    badgeText={formatedDate}
    highlight={note.data.category}
    title={note.data.title}
    description={note.data.description}
  />

  <div class="mx-auto max-w-4xl px-6 py-12">
    <article class="prose prose-playground">
      <Content />
    </article>
  </div>

  <Footer>
    <span slot="default">Crafted with creativity.</span>
  </Footer>
</BaseLayout>
