---
import { getCollection } from 'astro:content';
import { AtlasCard } from '@repo/ui/cards';

const baseUrl = import.meta.env.BASE_URL || '/';
const notesBaseUrl = `${baseUrl}notes/`;
const allNotes = await getCollection('notes', ({ data }) => !data.draft);
const sortedNotes = allNotes.sort((a, b) => a.data.title.localeCompare(b.data.title));

function stringToSeed(str: string): number {
  let hash = 0;
  for (let i = 0; i < str.length; i++) {
    const char = str.charCodeAt(i);
    hash = (hash << 5) - hash + char;
    hash = hash & hash; // Convert to 32bit integer
  }
  return Math.abs(hash);
}
---

<div class="grid grid-cols-[repeat(auto-fit,minmax(340px,1fr))] gap-4">
  {
    sortedNotes.map((note) => {
      const mainTag = note.data.tags[0].id;
      const noteUrl = `${notesBaseUrl}${note.id}/#main`;
      const seed = stringToSeed(note.data.title);
      const date = new Date(note.data.date).toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'long',
        day: 'numeric'
      });
      return (
        <a
          href={noteUrl}
          title={note.data.title}
        >
          <AtlasCard
            seed={seed}
            cardId={note.data.tags[0].id}
            cardTitle={note.data.description ?? 'NC'}
            classification={note.data.title}
            density={String(seed)}
            resolution={date}
            color={`var(--tags-${mainTag})`}
          />
        </a>
      );
    })
  }
</div>
