---
import { render, getCollection, getEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Footer from '../../layouts/Footer.astro';
import { Hero } from '@repo/ui/Hero';

export async function getStaticPaths() {
  const notes = await getCollection('notes');
  return notes.map((note) => ({
    params: { slug: note.id },
    props: { note }
  }));
}

const { note } = Astro.props;
const { Content } = await render(note);
const categoryEntry = await getEntry(note.data.category);

const date = new Date(note.data.date);
const options = {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric'
} as const;

const formatedDate = date.toLocaleDateString('fr-FR', options);
---

<BaseLayout
  title={note.data.title}
  katex={true}
>
  <Hero
    badgeText={formatedDate}
    highlight={categoryEntry.data.name}
    title={note.data.title}
    description={note.data.description ?? ''}
  />

  <div class="mx-auto max-w-4xl px-6 py-12">
    <article
      class="prose prose-playground prose-pre:whitespace-pre-wrap prose-code:before:content-none prose-code:after:content-none"
    >
      <Content />
    </article>
  </div>

  <Footer>
    <span slot="default">Crafted with creativity.</span>
  </Footer>
</BaseLayout>
